<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>

  <p>
    This website was built by <a href="https://github.com/saroar/quote">Saroar</a>
    My dream comes true and i will make this world better Soon
  </p>
  <p>
    <p>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag "myhero.jpg", :class => "img-responsive" %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Saroar Khandoker</h2>
    <br />
    <p>
      I am full stack web developer soon i will open my own company with little team than we will change this world  together :)
    </p>
  </div>
</div>

<br class="clear" />
